mdtGoogleApiCreds.json
image.png
image1.png
outputWarText.csv
rawDataText.txt
node_modules
rawData.json
warAttackPoints.png
warAttacks.png
warDamage.png
warDefensiveBoosts.png
warDefensiveWins.png
warNames.png
test.png